.dictionary {
  background-color: black;
}
.dictionary section {
  background: #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin: 20px auto;
  max-width: 60%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: smaller;
}

.dictionary input {
  margin: auto;
  width: 70%;
  padding: 6px;
  border-radius: 5px;
  border-color: darkgrey;
}

.dictionary .hint {
  font-size: 10px;
  opacity: 60%;
}

.dictionary .prompt {
  font-size: 14px;
  opacity: 80%;
  padding: 4px;
}

.dictionary .dvdpic {
  max-width: 60%;
  max-height: 250px;
  border-radius: 10px;
  padding: 4px;
}
